


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>List of my books</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>More info</th>
    </tr>
    </thead>
    <tbody>

    <% @list_of_books.each do |book| %>

      <tr>

        <td><%= book.title  %></td>
        <td><%= book.author  %></td>
        <td><%= book.description  %></td>
        <td><a href="/books/<%= book.id %>" class="btn btn-primary">More info</a></td>

      </tr>

    <% end %>


    </tbody>
  </table>
</div>

</body>
</html>
